:root {
    --color: black;
    --bg-color: white;
    --heading-slide-delay: 0.2s;
    --heading-slide-duration: 0.4s;
    --link-in-duration: 0.8s;
}

html {
    height: 100%;
}

body {
    position: relative;
    overflow: hidden;

    font-family: 'Roboto Mono', monospace;
    background-color: var(--bg-color);

    display: grid;
    place-items: center;
    width: 100vw;
    min-height: 100%;
}

main {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5em;

    max-width: 60ch;
}

h1 {
    font-size: 3em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-weight: normal;
    color: var(--color);
}

@media screen and (min-width: 600px) {
    h1 .slide {
        position: relative;
    }

    h1 .slide::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--bg-color);
    }

    h1 .slide.to-left::before {
        animation: var(--heading-slide-duration) ease-out var(--heading-slide-delay) forwards reveal-to-left;
    }

    h1 .slide.to-right::before {
        animation: var(--heading-slide-duration) ease-out var(--heading-slide-delay) forwards reveal-to-right;
    }

    @keyframes reveal-to-left {
        to {
            right: 100%;
        }
    }

    @keyframes reveal-to-right {
        to {
            left: 100%;
        }
    }
}

.bold {
    font-weight: 700;
}

.thin {
    font-weight: 100;
}

a {
    color: var(--color);
    text-decoration: none;
    font-size: 1.25rem;
    transition: letter-spacing .1s;
    animation: var(--link-in-duration) ease-out calc(var(--heading-slide-delay) + var(--heading-slide-duration)) backwards link-in;
}

a:focus, a:hover {
    letter-spacing: 0.1ch;
    font-weight: 700;
}

@keyframes link-in {
    from {
        letter-spacing: 0.5ch;
        opacity: 0;
    }
    to {
        letter-spacing: 0;
        opacity: 100%;
    }
}

@media screen and (max-width: 600px) {
    #bg-stroke {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    #bg-stroke {
        z-index: -1;
        position: absolute;
        transform: translateY(5%);
    }

    #path {
        stroke-dashoffset: 5983;
        stroke-dasharray: 5983;
        animation: 1s ease-out calc(var(--heading-slide-delay) + var(--heading-slide-duration) + var(--link-in-duration)) forwards stroke;
    }

    @keyframes stroke {
        to {
            stroke-dashoffset: 0;
        }
    }
}
